.container {
    display: flex;
    justify-content: center;
    align-items: center;
    Grid-area: cartas;
}

.detalle {
    text-align: center;
    background-color: rgba(68, 27, 0, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: 0;
}


.producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.producto img {
    max-width: 100%;
}

.informacion {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.valoracion {
    /* sistema de valoración */
}

.comentarios {
    /* apartado de comentarios */
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilos para los botones */
.boton-volver,
.boton-comprar {
    background-color: #7a1800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .detalle {
        padding: 10px;
    }

    .producto {
        flex-direction: column;
        text-align: center;
    }
}